*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
.Conteiner {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 5px
}
#mensajeInicial {
    
}
.carrito {
    display: flex;
    flex-direction: row;
}
.itemPizza {
    list-style: none;
    margin: 10px;
    border-bottom: solid black 1px;
    border-radius: 5px;
}
.productoPizza {
display: flex;
justify-content:space-between;
align-items: center;
gap: 1em;
}
img {
    width: 70px;
    border-radius: 5px;
}
.total {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px;
}