
#navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px; 
    background-color: #000;
    color: #fff;
}
#home {
    padding: 0px 10px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    border:1px solid #aaa9f4;
}
#home:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
#section-perfil {
    display: flex;
    gap: 20px;
}
#total {
    padding: 0px 10px;
    border-radius: 5px;
    border:1px solid #aaa9f4;
    background-color: #000;
    color: #fff;
}
#total:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.log-status {
    background-color: #000;
    color: #000
}
.boton1 {
    text-decoration: none;
    border: solid black 1 px;
    border-radius: 5px;
    padding: 5px;
}

.active {
    text-decoration: none;
    color: aquamarine;
}
.inactive {
    text-decoration: none;
    color: bisque;
}